<div class="row">
    <div class="col-md-12 align-center">
        <h1>Welcome</h1>
    </div>
</div>
<div class="row align-center">
    <a href="/roll"><img src="/images/2dicepic.png" alt="2dicepic" height="20%" width="20%"></a> 
    <a href="/roll"><img src="/images/2dicepic.png" alt="2dicepic" height="20%" width="20%"></a>
</div>
<div class="row align-center">
    <a href="/roll">ROLL</a>
</div>