<div class="row">
    <div class="col-md-12 align-center">
        <h1>Welcome</h1>
    </div>
</div>
<div class="row align-center">
    <img src="/images/2dicepic.png" alt="2dicepic" height="20%" width="20%">
    <img src="/images/2dicepic.png" alt="2dicepic" height="20%" width="20%">
</div>
<div class="row align-center">
    <a href="http://localhost:3000/roll">ROLL</a>
</div>