<div class="row align-center">
    <img class="dice2" src="/image/{{dice1Value}}.png" alt="dice1pic" height="20%" width="20%">
    <img class="dice2" src="/image/{{dice2Value}}.png" alt="dice2pic" height="20%" width="20%">
</div>